@font-face {
  font-display: swap;
  font-family: 'c-symb';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/c-font.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

.body {
  background-color: #f3fffd;
  color: #041d72;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-weight: 300;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}

.c-symb {
  font-family: "c-symb", "Snippet", sans-serif;
}

.strong,
.strong-italic {
  font-weight: 500;
}

.italic,
.strong-italic {
  font-style: italic;
}

.dib,
.dib-lg {
  display: inline-block;
}

.br-sm {
  display: none;
}

@keyframes mobile-line-bg {
  0% {
    stroke-dashoffset: 40000px;
    stroke-width: 4px;
  }
  10% {
    stroke-width: 5px;
  }
  60% {
    stroke-dashoffset: 30000px;
    stroke-width: 30px;
  }
  100% {
    /* stylelint-disable length-zero-no-unit */
    stroke-dashoffset: 0px;
    /* for animation in edge */
    /* stylelint-enable length-zero-no-unit */
    stroke-width: 80px;
  }
}

@keyframes mobile-wrapper-menu {
  99% {
    max-height: 100%;
    overflow-y: hidden;
  }
  100% {
    max-height: 1000px;
    overflow-y: auto;
  }
}

@keyframes mobile-arrow {
  0% {
    transform: translate(0%, -50%);
  }
  50% {
    transform: translate(20px, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.illustration__img {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
}

.header {
  transition: opacity 0.3s ease-in-out;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
}

.header--main {
  align-items: flex-start;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
}

.header.show {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.header__nav {
  margin-top: 6px;
}

.header--fixed {
  background-color: #f3fffd;
  box-shadow: 0 2px 4px rgba(4, 29, 114, 0.2);
  box-sizing: border-box;
  font-size: 14px;
  left: 0;
  letter-spacing: -0.084px;
  line-height: 60px;
  padding: 1px 8px 1px 24px;
  position: fixed;
  right: 0;
  top: 0;
}

.header--fixed .logo {
  align-items: center;
  display: flex;
}

.header--fixed .logo__img {
  height: 22px;
  width: 104px;
}

.header--fixed .header__nav {
  margin-top: 0;
}

.header--fixed .nav__link {
  font-size: 14px;
  line-height: 60px;
}

.header--fixed .nav__link {
  margin-left: 25px;
}

.header--fixed .nav__link--instagram {
  margin-left: 4px;
}

.logo {
  display: block;
  text-decoration: none;
}

.logo__img {
  display: block;
}

.nav {
  align-items: center;
  display: flex;
}

.nav__link {
  transition: color 0.3s ease-in-out;
  color: #041d72;
  font-size: 16px;
  letter-spacing: -0.096px;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link:not(.nav__link--instagram) {
  margin-left: 30px;
}

.nav__link--instagram {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-left: 14px;
  width: 50px;
}

.nav__link--instagram:hover .instagram-icon {
  fill: #ff5a00;
}

.nav__link:hover {
  color: #ff5a00;
}

.toggle-menu {
  display: none;
}

.main {
  box-sizing: border-box;
  display: block;
  font-size: 36px;
  line-height: 60px;
  margin: 0 auto;
  margin-top: 25px;
  max-width: 1184px;
  padding-left: 128px;
  padding-right: 128px;
  width: 100%;
}

.instagram-icon {
  transition: fill 0.3s ease-in-out;
  fill: #041d72;
}

.svg-hidden {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}

.modal {
  display: none;
}

.copyright {
  color: rgba(8, 16, 29, 0.33);
  font-size: 20px;
  letter-spacing: -0.12px;
  line-height: 300%;
  width: 250px;
}

.instagram {
  margin-left: -12px;
  margin-right: -12px;
  margin-top: 69px;
  position: relative;
}

.instagram__slider {
  height: 220px;
}

.instagram__wrapper {
  display: flex;
  margin-left: -12px;
  margin-right: -12px;
}

.instagram__photo-item {
  flex-shrink: 0;
  margin-left: 12px;
  margin-right: 12px;
  position: relative;
}

.instagram__photo-item.swiper-slide {
  width: 255px;
}

.instagram__photo-item-img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 255px;
}

[data-swiper-slide-index='0'] {
  position: relative;
  z-index: 2;
}

[data-swiper-slide-index='0']::after {
  background: url("../images/insta-line.svg") left center no-repeat;
  bottom: 0;
  content: '';
  height: 211px;
  left: -53px;
  pointer-events: none;
  position: absolute;
  width: 6550px;
  z-index: 3;
}

@media screen and (max-width: 1279px) {
  .br-xl {
    display: none;
  }
  .header--main {
    padding-bottom: 8px;
    padding-left: 46px;
    padding-right: 28px;
    padding-top: 42px;
  }
  .logo__img {
    height: 44px;
    width: 207px;
  }
  .header__nav {
    margin-top: -1px;
  }
  .nav__link {
    font-size: 14px;
    letter-spacing: -0.084px;
  }
  .nav__link:not(.nav__link--instagram) {
    margin-left: 25px;
  }
  .nav__link--instagram {
    margin-left: 13px;
  }
  .nav__link--instagram .instagram-icon {
    height: 14px;
    width: 14px;
  }
  .main {
    font-size: 28px;
    line-height: 45px;
    margin-top: 0;
  }
}

@media screen and (max-width: 1023px) {
  .br-lg {
    display: none;
  }
  .header--main {
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 36px;
  }
  .main {
    font-size: 24px;
    line-height: 41px;
    padding-left: 90px;
    padding-right: 90px;
  }
  .copyright {
    font-size: 16px;
    width: 190px;
  }
}

@media screen and (max-width: 849px) {
  .header--main .header__nav {
    display: none;
  }
  .toggle-menu {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    height: 50px;
    margin-top: auto;
    padding: 0;
    position: relative;
    width: 50px;
    z-index: 5;
  }
  .toggle-menu::before {
    transition: background-color 0.3s ease-in-out;
    background-color: #041d72;
    content: '';
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) skew(-15deg);
    width: 38px;
    z-index: 2;
  }
  .toggle-menu__icon {
    display: flex;
    flex-direction: column;
    height: 28px;
    justify-content: space-between;
    margin: auto;
    transform: skew(-15deg);
    width: 38px;
  }
  .toggle-menu__icon::before {
    transition: background-color 0.3s ease-in-out;
    background-color: #041d72;
    content: '';
    display: block;
    height: 4px;
    width: 100%;
  }
  .toggle-menu__icon::after {
    transition: background-color 0.3s ease-in-out;
    background-color: #041d72;
    content: '';
    display: block;
    height: 4px;
    width: 100%;
  }
  .toggle-menu:hover::before, .toggle-menu.active::before {
    background-color: #ff5a00;
  }
  .toggle-menu:hover .toggle-menu__icon::before, .toggle-menu:hover .toggle-menu__icon::after, .toggle-menu.active .toggle-menu__icon::before, .toggle-menu.active .toggle-menu__icon::after {
    background-color: #ff5a00;
  }
  .toggle-menu.active {
    animation: opacity 1s ease-in reverse forwards;
  }
  .modal {
    bottom: 0;
    height: 100%;
    left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .modal.show {
    display: block;
  }
  .modal.show .modal {
    /* stylelint-disable max-nesting-depth */
    /* stylelint-enable max-nesting-depth */
  }
  .modal.show .modal .modal__bg {
    display: none;
  }
  .modal.show .modal__wrapper {
    height: auto;
    overflow-y: auto;
  }
  .modal.show .modal__wrapper::before {
    animation: opacity 0.7s ease-in forwards 0.2s;
  }
  .modal.show .modal__logo, .modal.show .modal__header::after {
    animation: opacity 1s ease-in forwards 0.5s;
  }
  .modal.show .modal__toggle {
    animation: opacity 1s ease-in forwards 0.6s;
  }
  .modal.show .modal__body, .modal.show .modal__instagram {
    animation: opacity 1s ease-in forwards 0.75s;
  }
  @supports (animation-name: mobile-line-bg) {
    .modal.show .modal__bg-line {
      animation: mobile-line-bg 1.5s ease-in forwards 0.15s;
    }
    .modal.show .modal__wrapper {
      animation: mobile-wrapper-menu 0.1s ease-in forwards 1.5s;
      max-height: 100%;
      overflow-y: hidden;
    }
    .modal.show .modal__wrapper::before {
      animation: opacity 0.7s ease-in forwards 1.5s;
    }
    .modal.show .modal__logo, .modal.show .modal__header::after {
      animation: opacity 1s ease-in forwards 1s;
    }
    .modal.show .modal__toggle {
      animation: opacity 1s ease-in forwards 1.5s;
    }
    .modal.show .modal__body, .modal.show .modal__instagram {
      animation: opacity 1s ease-in forwards 1.75s;
    }
  }
  .modal__bg {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  .modal__bg svg {
    height: 1334px;
    position: absolute;
    right: -14px;
    top: -8px;
    width: 870px;
  }
  .modal__bg-line {
    stroke-dasharray: 40000px;
    stroke-dashoffset: 40000px;
    stroke-width: 4px;
  }
  .modal__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 24px 24px 0;
    position: relative;
    width: 100%;
  }
  .modal__wrapper::before {
    background: #ff5a00;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  .modal__header {
    padding-bottom: 27px;
    position: relative;
    width: calc(100% + 24px);
  }
  .modal__header::after {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
  }
  .modal__logo {
    display: block;
    opacity: 0;
  }
  .modal__toggle {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 55px;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 13px;
    top: -11px;
    width: 55px;
  }
  .modal__toggle::before {
    background-color: #fff;
    content: '';
    height: 3px;
    left: 9px;
    position: absolute;
    top: 25px;
    transform: rotate(39deg);
    width: 35px;
  }
  .modal__toggle::after {
    background-color: #fff;
    content: '';
    height: 3px;
    left: 7px;
    position: absolute;
    top: 25px;
    transform: rotate(-31deg);
    width: 40px;
  }
  .modal__body {
    margin-bottom: 88px;
    opacity: 0;
    width: 100%;
  }
  .modal__instagram {
    color: #fff;
    display: block;
    font-family: "Snippet", sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -0.15px;
    line-height: 1;
    margin-left: -24px;
    margin-right: -24px;
    opacity: 0;
    overflow: hidden;
    position: relative;
  }
  .modal__instagram .instagram__slider {
    height: 110px;
  }
  .modal__instagram .instagram__photo-item {
    margin-left: 8px;
    margin-right: 8px;
    /* stylelint-disable max-nesting-depth */
    /* stylelint-enable max-nesting-depth */
  }
  .modal__instagram .instagram__photo-item.swiper-slide, .modal__instagram .instagram__photo-item-img {
    width: 128px;
  }
  .modal__instagram-wrapper {
    box-sizing: border-box;
    display: block;
    padding-left: 24px;
    padding-right: 24px;
  }
  .modal__instagram-link {
    color: #fff;
    display: inline-block;
    margin-top: 2px;
    text-decoration: none;
  }
  .modal__instagram .instagram-icon {
    fill: #fff;
    margin-right: -2px;
    vertical-align: middle;
  }
  .modal .instagram {
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 29px;
    width: calc(100% + 16px);
  }
  .modal [data-swiper-slide-index='0']::after {
    background-size: cover;
    height: 104px;
    left: -27px;
    width: 3350px;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .mobile-menu__link {
    align-items: center;
    display: flex;
    height: 77px;
    position: relative;
    text-decoration: none;
  }
  .mobile-menu__link:hover::before {
    animation: mobile-arrow 0.5s ease-in;
  }
  .mobile-menu__link::before {
    background-position: center right;
    background-repeat: no-repeat;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .mobile-menu__link:first-child::before {
    background-image: url("../images/mobile-arrow1.svg");
  }
  .mobile-menu__link:nth-child(2)::before {
    background-image: url("../images/mobile-arrow2.svg");
  }
  .mobile-menu__link:nth-child(3)::before {
    background-image: url("../images/mobile-arrow3.svg");
  }
  .mobile-menu__link:nth-child(4)::before {
    background-image: url("../images/mobile-arrow4.svg");
  }
  .mobile-menu__link::after {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: calc(100% + 24px);
  }
  .mobile-menu__link-text {
    background-color: #ff5a00;
    color: #fff;
    font-family: "Snippet", sans-serif;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: -0.288px;
    line-height: 125%;
    margin-bottom: 5px;
    padding-right: 4px;
    z-index: 2;
  }
}

@media screen and (max-width: 767px) {
  .header--main {
    opacity: 1;
    padding-bottom: 28px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 31px;
    visibility: visible;
  }
  .header--main .logo__img {
    height: 39px;
    width: 185px;
  }
  .header .nav {
    display: none;
  }
  .header--fixed {
    display: none;
  }
  .dib-lg {
    display: inline;
  }
  .toggle-menu {
    position: fixed;
    right: 42px;
    top: 25px;
  }
  .main {
    font-size: 20px;
    line-height: 33px;
    margin-top: 0;
    padding-left: 70px;
    padding-right: 70px;
  }
  [data-swiper-slide-index='0']::after {
    background-size: cover;
    height: 104px;
    left: -27px;
    width: 3350px;
  }
  .modal__bg svg {
    right: -8px;
    top: -25px;
  }
}

@media screen and (max-width: 599px) {
  .header--main {
    opacity: 1;
    padding-bottom: 5px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 23px;
    visibility: visible;
  }
  .header--main .logo__img {
    height: 32px;
    width: 149px;
  }
  .header .nav {
    display: none;
  }
  .header--fixed {
    display: none;
  }
  .dib-lg {
    display: inline;
  }
  .toggle-menu {
    right: 17px;
    top: 14px;
  }
  .toggle-menu::before {
    height: 3px;
    width: 30px;
  }
  .toggle-menu__icon {
    height: 22px;
    width: 30px;
  }
  .toggle-menu__icon::before {
    height: 3px;
  }
  .toggle-menu__icon::after {
    height: 3px;
  }
  .main {
    font-size: 18px;
    line-height: 29px;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 24px;
  }
  .copyright {
    font-size: 10px;
    letter-spacing: -0.06px;
    line-height: 30px;
    width: 120px;
  }
  .modal__bg svg {
    height: 920px;
    right: -9px;
    top: -13px;
    width: 600px;
  }
}

.page-404 {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.block-404 {
  padding-bottom: 96px;
  padding-top: 11px;
}

.block-404__title {
  color: #ff5a00;
  font-family: "Snippet", sans-serif;
  font-size: 72px;
  font-weight: 400;
  letter-spacing: -0.432px;
  line-height: 87px;
  margin: 0;
}

.block-404__text {
  font-size: 36px;
  letter-spacing: -0.216px;
  line-height: 60px;
  margin-bottom: 0;
  margin-top: 1px;
  padding-left: 3px;
  word-break: break-all;
}

.block-404__illustration {
  margin-top: 52px;
}

.page-404__copyright {
  height: 0;
  margin-top: auto;
  position: relative;
  width: 100%;
}

.page-404__copyright-text {
  bottom: 16px;
  left: calc(100% - 21px);
  position: absolute;
  transform: rotate(-90deg) translateY(-100%);
  transform-origin: 0 0;
}

@media screen and (max-width: 1279px) {
  .block-404__title {
    font-size: 60px;
    letter-spacing: -0.36px;
    line-height: 68px;
  }
  .block-404__text {
    font-size: 28px;
    letter-spacing: -0.168px;
    line-height: 45px;
  }
  .block-404__illustration {
    margin-top: 52px;
  }
}

@media screen and (max-width: 1023px) {
  .page-404__copyright-text {
    bottom: -10px;
    left: 100%;
  }
  .block-404 {
    padding-bottom: 60px;
    padding-top: 20px;
  }
  .block-404__title {
    font-size: 46px;
    letter-spacing: -0.276px;
    line-height: 54px;
  }
  .block-404__text {
    font-size: 24px;
    letter-spacing: -0.144px;
    line-height: 41px;
    max-height: 122px;
    overflow: hidden;
  }
  .block-404__illustration {
    margin-top: 36px;
  }
}

@media screen and (max-width: 767px) {
  .block-404__title {
    font-size: 42px;
    letter-spacing: -0.216px;
    line-height: 43px;
  }
  .block-404__text {
    font-size: 20px;
    letter-spacing: -0.12px;
    line-height: 33px;
    max-height: 128px;
  }
  .block-404__illustration {
    margin-top: 36px;
  }
}

@media screen and (max-width: 599px) {
  .block-404 {
    padding-bottom: 26px;
    padding-top: 44px;
  }
  .block-404__title {
    font-size: 38px;
    letter-spacing: -0.228px;
    line-height: 1;
    margin-left: -3px;
  }
  .block-404__text {
    font-size: 18px;
    letter-spacing: -0.108px;
    line-height: 29px;
    margin-right: -10px;
    margin-top: 6px;
    max-height: 82px;
    padding-left: 0;
  }
  .page-404__copyright {
    height: auto;
  }
  .page-404__copyright-text {
    bottom: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transform: none;
  }
}

/*# sourceMappingURL=404.css.map */