$bg-color: #f3fffd;
$main-color: #041d72;
$accent-color: #ff5a00;
$main-font-family: 'IBM Plex Mono', monospace;
$accent-font-family: 'Snippet', sans-serif;
$white-color: #fff;

$compensation-text: 3px;
$compensation-accent-text: -4px;

@mixin trans($element) {
  transition: $element 0.3s ease-in-out;
}


@font-face {
  font-display: swap;
  font-family: 'c-symb';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/c-font.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

.body {
  background-color: $bg-color;
  color: $main-color;
  font-family: $main-font-family;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-weight: 300;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  
}

.c-symb {
  font-family: 'c-symb', $accent-font-family;
}

.strong,
%strong {
  font-weight: 500;
}

.italic,
%italic {
  font-style: italic;
}

.strong-italic {
  @extend %strong;
  @extend %italic;
}

.dib,
.dib-lg {
  display: inline-block;
}

.br-sm {
  display: none;
}

@keyframes line {
  0% {
    stroke-dashoffset: 50000;
    stroke-width: 5;
  }

  30% {
    stroke-width: 40;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-width: 60;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.illustration {
  &__img {
    display: block;
    height: auto;
    max-width: 100%;
    width: auto;
  }
}

.header {
  @include trans(opacity);
  box-sizing: border-box;
  
  display: flex;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  
  &--main {
    align-items: flex-start;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
  }
  
  &.show {
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }
  
  &__nav {
    margin-top: 6px;
  }
  
  &--fixed {
    background-color: $bg-color;
    box-shadow: 0 2px 4px rgba(4, 29, 114, 0.2);
    box-sizing: border-box;
    font-size: 14px;
    left: 0;
    letter-spacing: -0.084px;
    line-height: 60px;
    padding: 1px 8px 1px 24px;
    position: fixed;
    right: 0;
    top: 0;
    
    .logo {
      align-items: center;
      display: flex;

      &__img {
        height: 22px;
        width: 104px;
      }
    }
    
    .header {
      &__nav {
        margin-top: 0;
      }
    }
    
    .nav {
      &__link {
        font-size: 14px;
        line-height: 60px;
        
        &:not(&--instagram) {
          margin-left: 25px;
        }

        &--instagram {
          margin-left: 4px;
        }
      }
    }
  }
}

.logo {
  display: block;
  text-decoration: none;

  &__img {
    display: block;
  }
}

.nav {
  align-items: center;
  display: flex;
  
  &__link {
    @include trans(color);
    color: $main-color;
    font-size: 16px;
    letter-spacing: -0.096px;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    
    &:not(&--instagram) {
      margin-left: 30px;
    }
    
    &--instagram {
      align-items: center;
      display: flex;
      height: 50px;
      justify-content: center;
      margin-left: 14px;
      width: 50px;
      
      &:hover .instagram-icon {
        fill: $accent-color;
      }
    }
    
    &:hover {
      color: $accent-color;
    }
  }
}

.toggle-menu {
  display: none;
}

.main {
  box-sizing: border-box;
  display: block;
  font-size: 36px;
  line-height: 60px;
  margin: 0 auto;
  margin-top: 25px;
  max-width: 1184px;
  padding-left: 128px;
  padding-right: 128px;
  width: 100%;
}

.instagram-icon {
  @include trans(fill);
  fill: $main-color;
}

.svg-hidden {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}

.modal {
  display: none;
}

.copyright {
  color: rgba(#08101d, 0.33);
  font-size: 20px;
  letter-spacing: -0.12px;
  line-height: 300%;
  width: 250px;
}

.instagram {
  margin-left: -12px;
  margin-right: -12px;
  margin-top: 69px;
  position: relative;
  
  &__slider {
    height: 220px;
  }
  
  &__wrapper {
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
  }
  
  &__photo-item {
    flex-shrink: 0;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
    
    &.swiper-slide {
      width: 255px;
    }

    &-img {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 255px;
    }
  }
}

[data-swiper-slide-index='0'] {
  position: relative;
  z-index: 2;

  &::after {
    background: url('../images/insta-line.svg') left center no-repeat;
    bottom: 0;
    content: '';
    height: 211px;
    left: -53px;
    pointer-events: none;
    position: absolute;
    width: 6550px;
    z-index: 3;
  }
}

@media screen and (max-width: 1279px) {
  .br-xl {
    display: none;
  }
  
  .header--main {
    padding-bottom: 8px;
    padding-left: 46px;
    padding-right: 28px;
    padding-top: 42px;
  }

  .logo {
    &__img {
      height: 44px;
      width: 207px;
    }
  }

  .header {
    &__nav {
      margin-top: -1px;
    }
  }

  .nav {
    &__link {
      font-size: 14px;
      letter-spacing: -0.084px;
      
      &:not(&--instagram) {
        margin-left: 25px;
      }
      
      &--instagram {  
        margin-left: 13px;
        
        .instagram-icon {
          height: 14px;
          width: 14px;
        }
      }
    }
  }

  .main {
    font-size: 28px;
    line-height: 45px;
    margin-top: 0;
  }
}

@media screen and (max-width: 1023px) {
  .br-lg {
    display: none;
  }
  
  .header--main {
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 36px;
  }
  
  .main {
    font-size: 24px;
    line-height: 41px;
    padding-left: 90px;
    padding-right: 90px;
  }
  
  .copyright {
    font-size: 16px;
    width: 190px;
  }
  
}


@media screen and (max-width: 849px) {
  .header--main {
    .header {
      &__nav {
        display: none;
      }
    }
  }
  
  .toggle-menu {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    height: 50px;
    margin-top: auto;
    padding: 0;
    position: relative;
    width: 50px;
    z-index: 5;
    
    &::before {
      @include trans(background-color);
      background-color: $main-color;
      content: '';
      display: block;
      height: 4px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%) skew(-15deg);
      width: 38px;
      z-index: 2;
    }
    
    &__icon {
      display: flex;
      flex-direction: column;
      height: 30px;
      justify-content: space-between;
      margin: auto;
      transform: skew(-15deg);
      width: 38px;
      
      &::before {
        @include trans(background-color);
        background-color: $main-color;
        content: '';
        display: block;
        height: 4px;
        width: 100%;
      }
      
      &::after {
        @include trans(background-color);
        background-color: $main-color;
        content: '';
        display: block;
        height: 4px;
        width: 100%;
      }
    }
    
    &:hover {
      &::before {
        background-color: $accent-color;
      }
      
      .toggle-menu {
        &__icon {
          &::before,
          &::after {
            background-color: $accent-color; 
          }
        }
      }
    }
  }
  
  .toggle-menu.active {
    animation: opacity 1s ease-in reverse forwards;
  }
  
  .modal {
    bottom: 0;
    height: 100%;
    left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;

    &.show {
      display: block;
      
      .modal {
        &__wrapper::before {
          animation: opacity 0.7s ease-in forwards;
        }

        &__logo,
        &__header::after {
          animation: opacity 1s ease-in forwards 0.5s;
        }
        
        &__toggle {
          animation: opacity 1s ease-in forwards 1s;
        }

        &__body,
        &__instagram {
          animation: opacity 1s ease-in forwards 1s;
        }
      }
    }
    
    &__wrapper {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      min-height: 100%;
      padding: 24px 24px 0;
      position: relative;
      width: 100%;
      
      &::before {
        background: $accent-color;
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
      }
    }
    
    &__header {
      padding-bottom: 27px;
      position: relative;
      width: calc(100% + 24px);
      
      
      &::after {
        background-color: rgba($white-color, 0.2);
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        opacity: 0;
        position: absolute;
        width: 100%;
      }
    }
    
    &__logo {
      display: block;
      opacity: 0;
    }
    
    &__toggle {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      height: 55px;
      opacity: 0;
      padding: 0;
      position: absolute;
      right: 13px;
      top: -11px;
      width: 55px;
      
      &::before {
        background-color: $white-color;
        content: '';
        height: 3px;
        left: 9px;
        position: absolute;
        top: 25px;
        transform: rotate(39deg);
        width: 35px;
      }
      
      &::after {
        background-color: $white-color;
        content: '';
        height: 3px;
        left: 7px;
        position: absolute;
        top: 25px;
        transform: rotate(-31deg);
        width: 40px;
      }
    }
    
    &__body {
      margin-bottom: 88px;
      opacity: 0;
      width: 100%;
    }
    
    &__instagram {
      color: $white-color;
      display: block;
      font-family: $accent-font-family;
      font-size: 25px;
      font-weight: 400;
      letter-spacing: -0.15px;
      line-height: 1;
      margin-left: -24px;
      margin-right: -24px;
      opacity: 0;
      overflow: hidden;
      position: relative;
      
      .instagram {
        &__slider {
          height: 110px;
        }

        &__photo-item {
          margin-left: 8px;
          margin-right: 8px;

          &.swiper-slide,
          &-img {
            width: 128px;
          }
        }
      }

      &-wrapper {
        box-sizing: border-box;
        display: block;
        padding-left: 24px;
        padding-right: 24px;
      }
      
      &-link {
        color: $white-color;
        display: inline-block;
        margin-top: 2px;
        text-decoration: none;
      }
      
      .instagram-icon {
        fill: $white-color;
        margin-right: -2px;
        vertical-align: middle;
      }
    }
    
    .instagram {
      margin-left: -8px;
      margin-right: -8px;
      margin-top: 29px;
      width: calc(100% + 16px);
    }

    [data-swiper-slide-index='0'] {
      &::after {
        background-size: cover;
        height: 104px;
        left: -27px;
        width: 3350px;
      }
    }
  }
  
  .mobile-menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
    &__link {
      align-items: center;
      display: flex;
      height: 77px;
      position: relative;
      text-decoration: none;
      
      &::before {
        background-position: center right;
        background-repeat: no-repeat;
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }

      &:first-child::before {
        background-image: url('../images/mobile-arrow1.svg');
      }

      &:nth-child(2)::before {
        background-image: url('../images/mobile-arrow2.svg');
      }

      &:nth-child(3)::before {
        background-image: url('../images/mobile-arrow3.svg');
      }

      &:nth-child(4)::before {
        background-image: url('../images/mobile-arrow4.svg');
      }

      &::after {
        background-color: rgba($white-color, 0.2);
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        width: calc(100% + 24px);
      }

      &-text {
        background-color: $accent-color;
        color: $white-color;
        font-family: $accent-font-family;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: -0.288px;
        line-height: 125%;
        margin-bottom: 5px;
        padding-right: 4px;
        z-index: 2;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    &--main {
      opacity: 1;
      padding-bottom: 28px;
      padding-left: 45px;
      padding-right: 45px;
      padding-top: 31px;
      visibility: visible;
      
      .logo {
        &__img {
          height: 39px;
          width: 185px;
        }
      }
    }
    
    .nav {
      display: none;
    }
    
    &--fixed {
      display: none;
    }
  }
  
  .dib-lg {
    display: inline;
  }

  .toggle-menu {
    position: fixed;
    right: 42px;
    top: 25px;
  }
  
  .main {
    font-size: 20px;
    line-height: 33px;
    margin-top: 0;
    padding-left: 70px;
    padding-right: 70px;
  }

  [data-swiper-slide-index='0'] {
    &::after {
      background-size: cover;
      height: 104px;
      left: -27px;
      width: 3350px;
    }
  }
}

@media screen and (max-width: 599px) {
  .header {
    &--main {
      opacity: 1;
      padding-bottom: 5px;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 23px;
      visibility: visible;
      
      .logo {
        &__img {
          height: 32px;
          width: 149px;
        }
      }
    }
    
    .nav {
      display: none;
    }
    
    &--fixed {
      display: none;
    }
  }
  
  .dib-lg {
    display: inline;
  }

  .toggle-menu {
    right: 17px;
    top: 14px;
    
    &::before {
      height: 3px;
      width: 30px;
    }
    
    &__icon {
      height: 22px;
      width: 30px;
      
      &::before {
        height: 3px;
      }
      
      &::after {
        height: 3px;
      }
    }
  }
  
  .main {
    font-size: 18px;
    line-height: 29px;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .copyright {
    font-size: 10px;
    letter-spacing: -0.06px;
    line-height: 30px;
    width: 120px;
  }
}
