@import './all';

.link {
  text-decoration: none;
  color: $main-color;
  font-weight: 500;
  font-style: italic;
  @include trans(color);
  position: relative;
  display: inline-block;
  
  &:after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 4px;
    height: 4px;
    background-color: $accent-color;
  }
  
  &:hover {
    color: $accent-color;
  }
}

.section {
  &__title {
    font-family: $accent-font-family;
    color: $accent-color;
    font-size: 88px;
    line-height: 68%;
    letter-spacing: -0.528px;
    font-weight: 400;
    margin: 0;
  }
  &__text {
    letter-spacing: -0.216px;
    margin: 0;
    
    & + & {
      margin-top: 24px;
    }
  }
}

.about {
  padding-top: 30px;
  
  &__lithuania {
    display: inline-block;
  }
  &__lithuania-img {
    vertical-align: middle;
    display: inline-block;
    margin-right: 12px;
    margin-top: -5px;
  }
  
  &__illustration {
    margin-top: 80px;
    margin-left: -40px;
    margin-right: -40px;
  }
  
  &__strong-text {
    margin-top: 30px;
    font-size: 72px;
    line-height: 121%;
    letter-spacing: -0.432px;
    font-family: $accent-font-family;
    font-weight: 400;
    margin-left: $compensation-accent-text;
    &--color {
      color: $accent-color;
    }
  }
  
  &__slider {
    font-weight: 300;
    &-wrapper {
      display: none;
    }
    &-br {
      display: none;
    }
  }
  
  @media (hover) , (min-width:0\0) , (min--moz-device-pixel-ratio:0) {
    
    &__slider {
      position: relative;
      font-weight: 500;
      padding-right: 3px;
      margin-right: -3px;
      display: inline-block;
      @include trans(color);
      &:hover {
        color: $accent-color;
      }

      &-br {
        display: block;
      }
      
      &-wrapper {
        display: flex;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
      }
      &-dots-item {
        width: calc(100%/11);
        height: 100%;
        position: relative;
        
        &:hover {
          & + .about__slider-image-wrapper {
            opacity: 1;
            visibility: visible;
            z-index: 2;
            
          }
          &::after{
            width: 6px;
            height: 8px;
            bottom: 3px;
          }
        }
        
        &:after {
          content: '';
          width: 4px;
          height: 4px;
          background-color: $accent-color;
          position: absolute;
          bottom: 5px;
          left: 50%;
          transform: translateX(-50%);
          display: block;
          @include trans(all);
        }
      }
      
      &-image {
        display: block;
        width: 100%;
        
        &-wrapper {
          width: 400px;
          position: absolute;
          left: 0;
          top: 97px;
          opacity: 0;
          visibility: hidden;
          z-index: -1;
          @include trans(opacity);
        }
      }
    }
  }
}

.services {
  padding-top: 85px;
  margin-top: 73px;
  
  &__text {
    margin-top: 28px;
    max-width: 910px;
    padding-left: $compensation-text;
    box-sizing: border-box;
  }
  &__text-narrow {
    max-width: 850px;
  }
}

.technologies {
  padding-top: 85px;
  margin-top: 30px;
  
  &__logo {
    margin-top: 61px;
    margin-bottom: 45px;
    max-width: 922px;
    overflow: hidden;
    
    &-line {
      position: relative;
      display: block;
      width: 100%;
      padding: 0;
      overflow: hidden;
      
      & + & {
        margin-top: 27px;
      }
      
      &:before {
        content: "";
        display: block;
        padding-top: 10%;
      }
    }
    
    &-line-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      display: flex;
      justify-content: space-between;
      padding-left: $compensation-text;
    }
    &-item {
      height: 100%;
    }
  }
  &__text {
    padding-left: $compensation-text;
    margin-top: 24px;
    margin-bottom: 0;
    max-width: 940px;
    box-sizing: border-box;
  }
  
  &__illustration {
    margin-top: 85px;
    margin-left: -5px;
  }
  &__second-title {
    font-family: $accent-font-family;
    margin-top: 24px;
    margin-left: $compensation-accent-text;
    margin-bottom: 0;
    font-size: 72px;
    font-weight: 400;
    letter-spacing: -0.432px;
  }
}

.teamplify {
  margin-top: 96px;
  
  &__illustratuon {
    margin-left: 2px;
  }
  
  &__title {
    margin-top: -20px;
    padding-top: 76px;
  }
  
  &__text {
    padding-left: $compensation-text;
    margin-top: 27px;
    box-sizing: border-box;
  }
}

.footer {
  padding-top: 85px;
  margin-top: 76px;
  display: block;
  overflow: hidden;
  &__wrapper {
    max-width: 1184px;
    width: 100%;
    padding-left: 128px;
    padding-right: 128px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  &__title {
    width: 100%;
    @extend .section__title;
  }
  
  &__text {
    max-width: 475px;
    font-weight: 400;
    font-family: $accent-font-family;
    font-size: 62px;
    line-height: 106%;
    letter-spacing: -0.372px;
    margin-top: 39px;
    margin-right: 24px;
  }
  &__email {
    margin-top: 29px;
  }
  &__email-link {
    color: $accent-color;
    text-decoration: none;
  }
  &__address {
    max-width: 360px;
    font-size: 36px;
    line-height: 122%;
    letter-spacing: -0.216px;
    margin-top: 38px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
    &-street {
      white-space: nowrap;
    }
  }
  &__phone {
    text-decoration: none;
    margin-bottom: 11px;
    display: inline-block;
    color: $main-color;
  }
  
  &__copyright {
    position: relative;
    width: 100%;
    height: 0;
    &-text {
      position: absolute;
      right: 21px;
      bottom: 21px;
      transform: rotate(-90deg);
      transform-origin: 100% 100%;
    }
  }
  
  &__instagram {
    padding-top: 85px;
    margin-top: 46px;
    font-size: 28px;
    line-height: 157%;
    text-align: center;
    letter-spacing: -0.168px;
    &-title {
      margin: 0;
      font-weight: 300;
      font-size: 28px;
      line-height: 157%;
    }
    &-link {
      display: inline-flex;
      margin-top: 3px;
      margin-right: 8px;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      
      .link {
        font-weight: 400;
        
        &:after {
          height: 3px;
          bottom: -2px;
        }
      }
      
      .instagram-icon {
        margin-right: 9px;
        margin-top: 4px;
      }
      
      &:hover .instagram-icon {
        fill: $accent-color;
      }
      
      &:hover .link {
        @extend .link:hover;
      }
    }
    
    &-wrapper {
      position: relative;
      display: inline-block;
      
      &:before {
        content: '';
        width: 151px;
        height: 78px;
        position: absolute;
        background: url(../images/arrow-left.svg) center no-repeat;
        right: calc(100% + 5px);
        top: 66px;
      }
      
      &:after {
        content: '';
        width: 144px;
        height: 77px;
        position: absolute;
        background: url(../images/arrow-right.svg) center no-repeat;
        left: calc(100% - 8px);
        top: 66px;
      }
    }
  }
}


@media screen and (max-width: 1279px) {
  
  .about {
    &__slider {
      &-dots-item:after {
        width: 3px;
        height: 3px;
      }
      &-image-wrapper {
        width: 350px;
        top: 70px;
      }
    }
    &__illustration {
      margin-left: 0;
      margin-right: 0;
    }
    &__strong-text {
      font-size: 60px;
      line-height: 68px;
      letter-spacing: -0.36px;
      margin-top: 27px;
    }
  }
  .technologies__illustration,
  .about__illustration {
    margin-top: 45px;
  }
  
  .section__title, .footer__title {
    font-size: 72px;
    line-height: 60px;
  }
  
  .section__text {
    letter-spacing: -0.168px;
    & + & {
      margin-top: 19px;
    }
  }
  
  .services {
    padding-top: 75px;
    margin-top: -20px;
  }
  
  .services__text {
    margin-top: 13px;
    padding-left: 0;
  }
  
  .technologies {
    margin-top: 0px;
    
    &__logo {
      margin-top: 50px;
      margin-bottom: 35px;    
    }
    
    &__second-title {
      font-size: 48px;
    }
    
    &__text {
      margin-top: 20px;
    }
  }
  
  .teamplify {
    margin-top: 55px;
  }
  
  .footer {
    margin-top: 0;
    &__wrapper {
      padding-left: 128px;
      padding-right: 128px;
    }
    &__text {
      font-size: 54px;
    }
    &__address {
      max-width: 100%;
      font-size: 32px;
    }
    &__address-street {
      white-space: initial;
    }
    &__instagram {
      font-size: 24px;
      &-title {
        font-size: 24px;
      }
    }
  }
  
  .about__lithuania-img {
    width: 40px;
  }
}

@media screen and (max-width: 1023px) {
  
  .link:after {
    bottom: 2px;
    height: 3px;
  }
  
  
  .section {
    &__title {
      font-size: 52px;
      line-height: 60px;
      letter-spacing: -0.312px;
    }
    
    &__text {
      letter-spacing: -0.144px;
    }
  }
  .about {
    &__slider {
      &-image-wrapper {
        width: 300px;
        top: 50px;
      }
    }
    &__lithuania-img {
      width: 37px;
      height: 42px;
      margin-right: 10px;
    }
    &__strong-text {
      margin-top: 23px;
      font-size: 46px;
      line-height: 54px;
      letter-spacing: -0.276px;
      margin-left: 0;
    }
  }
  
  .services {
    margin-top: -36px;
    
    &__text {
      margin-top: 0;
    }
  }
  
  .technologies {
    margin-top: -20px;
    
    &__logo {
      margin-top: 40px;
      margin-bottom: 25px;
      &-line {
        & + & {
          margin-top: 17px;
        }
      }
    }
    &__second-title {
      font-size: 42px;
    }
  }
  
  .teamplify {
    margin-top: 35px;
    
    &__text {
      margin-top: 15px;
    }
  }
  
  .technologies__illustration, .about__illustration {
    margin-top: 30px;
  }
  
  
  .technologies__logo-line-wrapper {
    padding-left: 0;
  }
  
  .footer {
    &__wrapper {
      padding-left: 90px;
      padding-right: 90px;
    }
    &__text {
      font-size: 40px;
    }
    &__email {
      margin-top: 18px;
    }
    &__address {
      font-size: 28px;
    }
    
    &__instagram {
      margin-top: 0;
      font-size: 20px;
      &-title {
        font-size: 20px;
      }
      
      &-wrapper:before {
        top: 50px;
      }
      &-wrapper:after {
        top: 50px;
      }
    }
    &__copyright-text {
      bottom: 6px;
      right: 19px;
      transform: rotate(-90deg) translateX(50%);
    }
  }
}

@media screen and (max-width: 767px) {
  .link {
    &:after {
      height: 2px;
      bottom: 1px;
    }
  }
  
  .section {
    &__title {
      font-size: 48px;
      line-height: 1;
      letter-spacing: -0.288px;
    }
    &__text {
      letter-spacing: -0.12px;
      
      & + & {
        margin-top: 10px;
      }
    }
  }
  
  .about {
    padding-top: 10px;
    
    &__lithuania-img {
      width: 30px;
      height: 34px;
      margin-right: 5px;
    }
    &__illustration {
      margin-top: 40px;
    }
    &__slider {
      font-weight: 300;
      &-wrapper {
        display: none;
      }
    }
    &__strong-text {
      margin-top: 20px;
      font-size: 36px;
      line-height: 43px;
      letter-spacing: -0.216px;
      margin-left: 0;
      
      &--color {
        display: inline;
      }
    }
  }
  
  .services {
    margin-top: 11px;
    padding-top: 30px;
    
    &__text {
      margin-top: 2px;
      padding-left: 0;
    }
  }
  
  .technologies {
    margin-top: 31px;
    padding-top: 30px;
    
    &__logo {
      margin-top: 14px;
      margin-bottom: 16px;
    }
    
    &__logo-line {
      & + & {
        margin-top: 13px;
      }
    }
    
    &__logo-item {
      &--react {
        order: 1;
      }
      &--js {
        order: 2;
      }
      &--django {
        order: 3;
      }
      
      &--docker {
        order: 6;
      }
      
      &--spark {
        order: 7;
      }
    }
    
    &__text {
      padding-left: 0;
      padding-right: 10px;
      margin-top: 4px;
      
      & + & {
        margin-top: 11px;
      }
      
      &--long {
        padding-right: 0;
      }
    }
    
    &__second-title {
      margin-top: 37px;
      font-size: 32px;
      line-height: 1;
      letter-spacing: -0.168px;
      margin-left: -2px;
    }
  }
  
  .teamplify {
    margin-top: 40px;
    
    &__title {
      margin-top: 0px;
      padding-top: 30px;
      margin-left: -2px;
    }
    
    &__text {
      margin-top: 8px;
      padding-left: 0;
    }
  }
  
  .footer {
    margin-top: 33px;
    padding-top: 30px;
    
    &__wrapper {
      padding-left: 70px;
      padding-right: 70px;
    }
    &__title {
      margin-left: -2px;
    }
    
    &__text {
      font-size: 24px;
      line-height: 31px;
      letter-spacing: -0.144px;
      margin-top: 5px;
      max-width: 100%;
    }
    
    &__email {
      margin-top: 7px;
      line-height: 29px;
    }
    
    &__address {
      margin-top: 18px;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.12px;
    }
    &__copyright-text {
      right: 17px;
      bottom: 3px;
      transform: rotate(-90deg) translateX(100%);
    }
    &__instagram {
      margin-top: 41px;
      text-align: right;
      font-size: 20px;
      line-height: 1;
      letter-spacing: -0.12px;
      overflow: hidden;
      padding-top: 30px;
      
      &-title {
        font-size: 20px;
        line-height: 1;
        letter-spacing: -0.12px;
      }
      &-wrapper {
        padding-right: 24px;
        
        &:before {
          width: 74px;
          height: 39px;
          background-size: cover;
          transform: rotate(-30deg);
          top: 80px;
          left: -24px;
          right: auto;
        }
        &:after {
          width: 73px;
          height: 39px;
          background-size: cover;
          left: auto;
          top: 79px;
          right: 18px;
          transform: rotate(20deg);
        }
      }
      
      &-link {
        margin-top: 8px;
        margin-right: 4px;
        
        .link:after {
          bottom: -5px;
          height: 2px;
          left: 2px;
          right: 2px;
        }
      }
      
      .instagram-icon {
        margin-right: 5px;
        margin-top: 3px;
        width: 18px;
        height: 18px;
      }
    }
  }
  
  .instagram {
    margin-top: 100px;
    margin-left: -8px;
    margin-right: -8px;
    
    &__slider {
      height: 113px;
    }
    
    &__wrapper {
      &:after {
        width: 3350px;
        height: 103px;
        background-size: cover;
        left: -22px;
      }
    }
    
    &__photo-item {
      margin-left: 8px;
      margin-right: 8px;
      
      &.swiper-slide {
        width: 128px;
      }
      
      &-img {
        width: 128px;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .section {
    &__title {
      font-size: 38px;
      letter-spacing: -0.228px;
    }
    &__text {
      letter-spacing: -0.108px;
    }
  }
  
  .about {
    padding-top: 13px;
    
    &__lithuania-img {
      width: 22px;
      height: 25px;
      margin-top: 0;
    }
    &__strong-text {
      margin-top: 28px;
      font-size: 32px;
      line-height: 119%;
      letter-spacing: -0.192px;
      margin-left: 0;
      
      &--color {
        display: inline;
      }
    }
  }
  
  .services {
    margin-top: 20px;
    padding-top: 30px;
    
    &__text {
      margin-top: 6px;
      margin-right: -12px;
    }
  }
  
  .technologies {
    &__illustration {
      margin-left: 0;
      margin-right: 0;
      margin-top: 42px;
    }
    &__second-title {
      margin-top: 12px;
      font-size: 28px;
    }
  }
  
  .teamplify {
    margin-top: 57px;
    
    &__illustration {
      margin-left: 0;
      margin-right: 0;
    }
    &__title {
      padding-top: 28px;
    }
  }
  
  .footer {
    &__wrapper {
      padding-left: 24px;
      padding-right: 24px;
    }
    &__title {
      margin-left: -2px;
    }
    
    &__text {
      font-size: 24px;
      line-height: 31px;
      letter-spacing: -0.144px;
      margin-top: 5px;
      max-width: 100%;
    }
    
    &__email {
      margin-top: 7px;
      line-height: 29px;
    }
    
    &__address {
      margin-top: 18px;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.12px;
      &-country {
        margin-bottom: 15px;
      }
      &-illustration {
        width: 88px;
        height: 42px;
        border-width: 2px;
        margin-left: 0;
        margin-top: 0;
      }
    }
    &__copyright-text {
      right: 12px;
      bottom: 20px;
      transform: rotate(-90deg) translateX(100%);
    }
    
    &__instagram {
      margin-top: 0;
      padding-top: 28px;
    }
    
  }
}