@import './all';

.link,
%link {
  @include trans(color);
  color: $main-color;
  display: inline-block;
  font-style: italic;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  
  &::after {
    background-color: $accent-color;
    bottom: 4px;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
  }
  
  &:hover {
    color: $accent-color;
  }
}

.section {
  &__title {
    color: $accent-color;
    font-family: $accent-font-family;
    font-size: 88px;
    font-weight: 400;
    letter-spacing: -0.528px;
    line-height: 68%;
    margin: 0;
  }

  &__text {
    letter-spacing: -0.216px;
    margin: 0;
    
    & + & {
      margin-top: 24px;
    }
  }
}

.about {
  padding-top: 30px;
  
  &__lithuania {
    display: inline-block;
  }

  &__lithuania-img {
    display: inline-block;
    margin-right: 12px;
    margin-top: -5px;
    vertical-align: middle;
  }
  
  &__illustration {
    margin-left: -40px;
    margin-right: -40px;
    margin-top: 80px;
  }
  
  &__strong-text {
    font-family: $accent-font-family;
    font-size: 72px;
    font-weight: 400;
    letter-spacing: -0.432px;
    line-height: 121%;
    margin-left: $compensation-accent-text;
    margin-top: 30px;

    &--color {
      color: $accent-color;
    }
  }
  
  &__slider {
    font-weight: 300;

    &-wrapper {
      display: none;
    }

    &-br {
      display: none;
    }
  }

  /* stylelint-disable max-nesting-depth */
  @media (hover) , (min-width:0\0) {
    &__slider {
      @include trans(color);
      display: inline-block;
      font-weight: 500;
      margin-right: -3px;
      padding-right: 3px;
      position: relative;

      &:hover {
        color: $accent-color;
      }

      &-br {
        display: block;
      }
      
      &-wrapper {
        bottom: 0;
        display: flex;
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
      }

      &-dots-item {
        height: 100%;
        position: relative;
        width: calc(100%/11);

        &:hover {
          + .about {
            &__slider-image-wrapper {
              opacity: 1;
              visibility: visible;
              z-index: 2;
            }
          }

          &::after {
            bottom: 3px;
            height: 8px;
            width: 6px;
          }
        }

        &::after {
          @include trans(all);
          background-color: $accent-color;
          bottom: 5px;
          content: '';
          display: block;
          height: 4px;
          left: 50%;
          position: absolute;
          transform: translateX(-50%);
          width: 4px;
        }
      }
      
      &-image {
        display: block;
        width: 100%;
        
        &-wrapper {
          @include trans(opacity);
          left: 0;
          opacity: 0;
          position: absolute;
          top: 97px;
          visibility: hidden;
          width: 400px;
          z-index: -1;
        }
      }
    }
  }
  /* stylelint-enable max-nesting-depth */
}

.services {
  margin-top: 73px;
  padding-top: 85px;
  
  &__text {
    box-sizing: border-box;
    margin-top: 28px;
    max-width: 910px;
    padding-left: $compensation-text;
  }

  &__text-narrow {
    max-width: 850px;
  }
}

.technologies {
  margin-top: 30px;
  padding-top: 85px;
  
  &__logo {
    margin-bottom: 45px;
    margin-top: 61px;
    max-width: 922px;
    overflow: hidden;
    
    &-line {
      display: block;
      overflow: hidden;
      padding: 0;
      position: relative;
      width: 100%;
      
      & + & {
        margin-top: 27px;
      }
      
      &::before {
        content: '';
        display: block;
        padding-top: 10%;
      }
    }
    
    &-line-wrapper {
      border: 0;
      bottom: 0;
      display: flex;
      height: 100%;
      justify-content: space-between;
      left: 0;
      padding-left: $compensation-text;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &-item {
      height: 100%;
    }
  }

  &__text {
    box-sizing: border-box;
    margin-bottom: 0;
    margin-top: 24px;
    max-width: 940px;
    padding-left: $compensation-text;
  }
  
  &__illustration {
    margin-left: -5px;
    margin-top: 85px;
  }

  &__second-title {
    font-family: $accent-font-family;
    font-size: 72px;
    font-weight: 400;
    letter-spacing: -0.432px;
    margin-bottom: 0;
    margin-left: $compensation-accent-text;
    margin-top: 24px;
  }
}

.teamplify {
  margin-top: 96px;
  
  &__illustratuon {
    margin-left: 2px;
  }
  
  &__title {
    margin-top: -20px;
    padding-top: 76px;
  }
  
  &__text {
    box-sizing: border-box;
    margin-top: 27px;
    padding-left: $compensation-text;
  }
}

.footer {
  display: block;
  margin-top: 76px;
  overflow: hidden;
  padding-top: 85px;

  &__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1184px;
    padding-left: 128px;
    padding-right: 128px;
    width: 100%;
  }
  
  &__title {
    color: $accent-color;
    font-family: $accent-font-family;
    font-size: 88px;
    font-weight: 400;
    letter-spacing: -0.528px;
    line-height: 68%;
    margin: 0;
    width: 100%;
  }
  
  &__text {
    font-family: $accent-font-family;
    font-size: 62px;
    font-weight: 400;
    letter-spacing: -0.372px;
    line-height: 106%;
    margin-right: 24px;
    margin-top: 39px;
    max-width: 475px;
  }

  &__email {
    margin-top: 29px;
  }

  &__email-link {
    color: $accent-color;
    text-decoration: none;
  }

  &__address {
    font-size: 36px;
    letter-spacing: -0.216px;
    line-height: 122%;
    margin-top: 38px;
    max-width: 360px;
    width: 100%;

    &-street {
      white-space: nowrap;
    }
  }

  &__phone {
    color: $main-color;
    display: inline-block;
    margin-bottom: 11px;
    text-decoration: none;
  }
  
  &__copyright {
    height: 0;
    position: relative;
    width: 100%;

    &-text {
      bottom: 21px;
      position: absolute;
      right: 21px;
      transform: rotate(-90deg);
      transform-origin: 100% 100%;
    }
  }
  
  &__instagram {
    font-size: 28px;
    letter-spacing: -0.168px;
    line-height: 157%;
    margin-top: 46px;
    padding-top: 85px;
    text-align: center;

    &-title {
      font-size: 28px;
      font-weight: 300;
      line-height: 157%;
      margin: 0;
    }

    &-link {
      align-items: center;
      display: inline-flex;
      justify-content: center;
      margin-right: 8px;
      margin-top: 3px;
      text-decoration: none;

      /* stylelint-disable max-nesting-depth */
      .link {
        font-weight: 400;
        
        &::after {
          bottom: -2px;
          height: 3px;
        }
      }
      /* stylelint-enable max-nesting-depth */

      .instagram-icon {
        margin-right: 9px;
        margin-top: 4px;
      }
      
      &:hover .instagram-icon {
        fill: $accent-color;
      }
      
      &:hover .link {
        @extend %link:hover;
      }
    }
    
    &-wrapper {
      display: inline-block;
      position: relative;
      
      &::before {
        background: url('../images/arrow-left.svg') center no-repeat;
        content: '';
        height: 78px;
        position: absolute;
        right: calc(100% + 5px);
        top: 66px;
        width: 151px;
      }
      
      &::after {
        background: url('../images/arrow-right.svg') center no-repeat;
        content: '';
        height: 77px;
        left: calc(100% - 8px);
        position: absolute;
        top: 66px;
        width: 144px;
      }
    }
  }
}


@media screen and (max-width: 1279px) {
  .about {
    &__lithuania-img {
      width: 40px;
    }

    &__slider {
      &-dots-item::after {
        height: 3px;
        width: 3px;
      }

      &-image-wrapper {
        top: 70px;
        width: 350px;
      }
    }

    &__illustration {
      margin-left: 0;
      margin-right: 0;
      margin-top: 45px;
    }

    &__strong-text {
      font-size: 60px;
      letter-spacing: -0.36px;
      line-height: 68px;
      margin-top: 27px;
    }
  }

  .section {
    &__title {
      font-size: 72px;
      line-height: 60px;
    }

    &__text {
      letter-spacing: -0.168px;

      & + & {
        margin-top: 19px;
      }
    }
  }
  
  .services {
    margin-top: -20px;
    padding-top: 75px;

    &__text {
      margin-top: 13px;
      padding-left: 0;
    }
  }
  
  .technologies {
    margin-top: 0;

    &__illustration {
      margin-top: 45px;
    }

    &__logo {
      margin-bottom: 35px;
      margin-top: 50px;    
    }
    
    &__second-title {
      font-size: 48px;
    }
    
    &__text {
      margin-top: 20px;
    }
  }
  
  .teamplify {
    margin-top: 55px;
  }
  
  .footer {
    margin-top: 0;

    &__wrapper {
      padding-left: 128px;
      padding-right: 128px;
    }

    &__title {
      font-size: 72px;
      line-height: 60px;
    }

    &__text {
      font-size: 54px;
    }

    &__address {
      font-size: 32px;
      max-width: 100%;
    }

    &__address-street {
      white-space: initial;
    }

    &__instagram {
      font-size: 24px;

      &-title {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .link::after {
    bottom: 2px;
    height: 3px;
  }
  
  
  .section {
    &__title {
      font-size: 52px;
      letter-spacing: -0.312px;
      line-height: 60px;
    }
    
    &__text {
      letter-spacing: -0.144px;
    }
  }

  .about {
    &__slider {
      &-image-wrapper {
        top: 50px;
        width: 300px;
      }
    }

    &__lithuania-img {
      height: 42px;
      margin-right: 10px;
      width: 37px;
    }

    &__strong-text {
      font-size: 46px;
      letter-spacing: -0.276px;
      line-height: 54px;
      margin-left: 0;
      margin-top: 23px;
    }

    &__illustration {
      margin-top: 30px;
    }
  }
  
  .services {
    margin-top: -36px;
    
    &__text {
      margin-top: 0;
    }
  }
  
  .technologies {
    margin-top: -20px;
    
    &__illustration {
      margin-top: 30px;
    }

    &__logo {
      margin-bottom: 25px;
      margin-top: 40px;

      &-line-wrapper {
        padding-left: 0;
      }

      &-line {
        & + & {
          margin-top: 17px;
        }
      }
    }

    &__second-title {
      font-size: 42px;
    }
  }
  
  .teamplify {
    margin-top: 35px;
    
    &__text {
      margin-top: 15px;
    }
  }

  .footer {
    &__wrapper {
      padding-left: 90px;
      padding-right: 90px;
    }

    &__title {
      font-size: 52px;
      letter-spacing: -0.312px;
      line-height: 60px;
    }

    &__text {
      font-size: 40px;
    }

    &__email {
      margin-top: 18px;
    }

    &__address {
      font-size: 28px;
    }
    
    &__instagram {
      font-size: 20px;
      margin-top: 0;

      &-title {
        font-size: 20px;
      }
      
      &-wrapper::before {
        top: 50px;
      }

      &-wrapper::after {
        top: 50px;
      }
    }

    &__copyright-text {
      bottom: 6px;
      right: 19px;
      transform: rotate(-90deg) translateX(50%);
    }
  }
}

@media screen and (max-width: 767px) {
  .link {
    &::after {
      bottom: 1px;
      height: 2px;
    }
  }
  
  .section {
    &__title {
      font-size: 48px;
      letter-spacing: -0.288px;
      line-height: 1;
    }

    &__text {
      letter-spacing: -0.12px;
      
      & + & {
        margin-top: 10px;
      }
    }
  }
  
  .about {
    padding-top: 10px;
    
    &__lithuania-img {
      height: 34px;
      margin-right: 5px;
      width: 30px;
    }

    &__illustration {
      margin-top: 40px;
    }

    &__slider {
      font-weight: 300;

      &:hover {
        color: inherit;
      }

      &-wrapper {
        display: none;
      }
    }

    &__strong-text {
      font-size: 36px;
      letter-spacing: -0.216px;
      line-height: 43px;
      margin-left: 0;
      margin-top: 20px;
      
      &--color {
        display: inline;
      }
    }
  }
  
  .services {
    margin-top: 11px;
    padding-top: 30px;
    
    &__text {
      margin-top: 2px;
      padding-left: 0;
    }
  }
  
  .technologies {
    margin-top: 31px;
    padding-top: 30px;
    
    &__logo {
      margin-bottom: 16px;
      margin-top: 14px;
    }
    
    &__logo-line {
      & + & {
        margin-top: 13px;
      }
    }
    
    &__logo-item {
      &--react {
        order: 1;
      }

      &--js {
        order: 2;
      }

      &--django {
        order: 3;
      }
      
      &--docker {
        order: 6;
      }
      
      &--spark {
        order: 7;
      }
    }
    
    &__text {
      margin-top: 4px;
      padding-left: 0;
      padding-right: 10px;
      
      & + & {
        margin-top: 11px;
      }
      
      &--long {
        padding-right: 0;
      }
    }
    
    &__second-title {
      font-size: 32px;
      letter-spacing: -0.168px;
      line-height: 1;
      margin-left: -2px;
      margin-top: 37px;
    }
  }
  
  .teamplify {
    margin-top: 40px;
    
    &__title {
      margin-left: -2px;
      margin-top: 0;
      padding-top: 30px;
    }
    
    &__text {
      margin-top: 8px;
      padding-left: 0;
    }
  }
  
  .footer {
    margin-top: 33px;
    padding-top: 30px;
    
    &__wrapper {
      padding-left: 70px;
      padding-right: 70px;
    }

    &__title {
      margin-left: -2px;
      font-size: 48px;
      letter-spacing: -0.288px;
      line-height: 1;
    }
    
    &__text {
      font-size: 24px;
      letter-spacing: -0.144px;
      line-height: 31px;
      margin-top: 5px;
      max-width: 100%;
    }
    
    &__email {
      line-height: 29px;
      margin-top: 7px;
    }
    
    &__address {
      font-size: 20px;
      letter-spacing: -0.12px;
      line-height: 28px;
      margin-top: 18px;
    }

    &__copyright-text {
      bottom: 3px;
      right: 17px;
      transform: rotate(-90deg) translateX(100%);
    }

    &__instagram {
      font-size: 20px;
      letter-spacing: -0.12px;
      line-height: 1;
      margin-top: 41px;
      overflow: hidden;
      padding-top: 30px;
      text-align: right;
      
      &-title {
        font-size: 20px;
        letter-spacing: -0.12px;
        line-height: 1;
      }

      &-wrapper {
        padding-right: 24px;
        
        &::before {
          background-size: cover;
          height: 39px;
          left: -24px;
          right: auto;
          top: 80px;
          transform: rotate(-30deg);
          width: 74px;
        }

        &::after {
          background-size: cover;
          height: 39px;
          left: auto;
          right: 18px;
          top: 79px;
          transform: rotate(20deg);
          width: 73px;
        }
      }
      
      &-link {
        margin-right: 4px;
        margin-top: 8px;
        
        .link::after {
          bottom: -5px;
          height: 2px;
          left: 2px;
          right: 2px;
        }
      }
      
      .instagram-icon {
        height: 18px;
        margin-right: 5px;
        margin-top: 3px;
        width: 18px;
      }
    }
  }
  
  .instagram {
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 100px;
    
    &__slider {
      height: 113px;
    }
    
    &__wrapper {
      &::after {
        background-size: cover;
        height: 103px;
        left: -22px;
        width: 3350px;
      }
    }
    
    &__photo-item {
      margin-left: 8px;
      margin-right: 8px;
      
      &.swiper-slide {
        width: 128px;
      }
      
      &-img {
        width: 128px;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .section {
    &__title {
      font-size: 38px;
      letter-spacing: -0.228px;
    }

    &__text {
      letter-spacing: -0.108px;
    }
  }
  
  .about {
    padding-top: 13px;
    
    &__lithuania-img {
      height: 25px;
      margin-top: 0;
      width: 22px;
    }

    &__strong-text {
      font-size: 32px;
      letter-spacing: -0.192px;
      line-height: 119%;
      margin-left: 0;
      margin-top: 28px;
      
      &--color {
        display: inline;
      }
    }
  }
  
  .services {
    margin-top: 20px;
    padding-top: 30px;
    
    &__text {
      margin-right: -12px;
      margin-top: 6px;
    }
  }
  
  .technologies {
    &__illustration {
      margin-left: 0;
      margin-right: 0;
      margin-top: 42px;
    }

    &__second-title {
      font-size: 28px;
      margin-top: 12px;
    }
  }
  
  .teamplify {
    margin-top: 57px;
    
    &__illustration {
      margin-left: 0;
      margin-right: 0;
    }

    &__title {
      padding-top: 28px;
    }
  }
  
  .footer {
    &__wrapper {
      padding-left: 24px;
      padding-right: 24px;
    }

    &__title {
      font-size: 38px;
      letter-spacing: -0.228px;
    }
    
    &__text {
      font-size: 24px;
      letter-spacing: -0.144px;
      line-height: 31px;
      margin-top: 5px;
      max-width: 100%;
    }
    
    &__email {
      line-height: 29px;
      margin-top: 7px;
    }
    
    &__address {
      font-size: 20px;
      letter-spacing: -0.12px;
      line-height: 28px;
      margin-top: 18px;

      &-country {
        margin-bottom: 15px;
      }

      &-illustration {
        border-width: 2px;
        height: 42px;
        margin-left: 0;
        margin-top: 0;
        width: 88px;
      }
    }

    &__copyright-text {
      bottom: 20px;
      right: 12px;
      transform: rotate(-90deg) translateX(100%);
    }
    
    &__instagram {
      margin-top: 0;
      padding-top: 28px;
    }
    
  }
}
